html {
    scroll-behavior: smooth;
}

body {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    font-family: monospace;
    color: white;
}

.body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10%;
}

.body p1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}


.navbar {
    background: none;
    z-index: 1;
    width: 90%;
    padding: 0px 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-list ul li { 
    margin-left: 50px;
}

.navbar-list ul li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

.title h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: white;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {width: 0 }
    to {width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}